*{
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

.article-content {
  width: 95%;
  margin-bottom: 65px;
}

.sidebar-section {
  width: 29%;
  background-color: #e9edf8;
  border-top: 10px solid #c9cfdf;
  margin-top: 20px;
  padding: 15px 10px;
}
.page-heading {
  margin: 20px 0px 30px;
}

.article-content h1 {
  font-size: 25px;
  font-weight: 700;
}
.article-content a {
  text-decoration: underline;
}
.article-image {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.author {
  margin: 7px 0px;
  font-size: 14px;
  color: #657a97;
}
.article-content p {
  margin-top: 10px;
}
.sidebar-section ul {
  list-style-type: none;
}
.sidebar-section li {
  margin: 15px 0px;
  display: block;
}
.sidebar-section a {
  font-weight: 700;
  color: #657a97 !important;
  transition: all 0.3s ease;
}
.sidebar-section a:hover {
  color: #0d2138 !important;
}
