*{
  margin: 0;
  padding: 0;
}

.article-content {
  width: 73%;
  float: left;
  margin-bottom: 75px;
}

.sidebar-section {
  float: right;
  width: 24%;
  background-color: #e9edf8;
  border-top: 10px solid #c9cfdf;
  margin-top: 20px;
  padding: 15px 10px;
}

.page-heading {
  margin: 20px 0px 30px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.article-content h1 {
  font-size: 25px;
  font-weight: 700;
}
.article-content a {
  text-decoration: underline;
}
.article-image {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.author {
  margin: 7px 0px;
  font-size: 14px;
  color: #657a97;
}
.article-content p {
  margin-top: 10px;
}
.sidebar-section ul {
  list-style-type: none;
}
.sidebar-section li {
  margin: 15px 0px;
  display: block;
}
.sidebar-section a {
  font-weight: 700;
  transition: all 0.5s ease;
  color: #657a97 !important;
}
.sidebar-section a:hover {
  color: #0d2138 !important;
}
