header {
  background-color: #e9edf8;
  box-shadow: 0px 2px 2px 0px #657a97;
  display: flex;
  justify-content: space-around;
}

.header>div {
  display: flex;
}

.header>div h1 {
  margin-top: 10px;
}

.title h1 {
  color: #000;
  margin-left: 10px;
}

.header-logo {
  width: 60px;
}

.header_nav {
  color: #fff;
  padding: 20px 10px;
}

nav>ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

nav>ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
  padding: 5px 10px;
  transition: all 0.5s;
}

/* background-color: #657a97;
   background-color: #c9cfdf;
 background-color: #e9edf8;
  */

/* nav>ul>.main-li:hover ::after {
  content: "";
  background-color: #657a97;
  height: 5px;
  width: calc(100% - 10px);
  position: absolute;
  bottom: -13px;
  left: 8px;
} */

.main-li {
  transition: all 0.5s;
  border-radius: 10px;
  padding: 1px;
}

.main-li:hover {
  background-color: #c9cfdf;
}


ul li {
  display: inline-block;
  position: relative;
}

.drop-down li {
  display: block;
  padding: 10px;
}

.drop-down {
  width: 100%;
  background-color: #e9edf8;
  position: absolute;
  display: none;
  z-index: 999;
}


.drop-down :hover {
  background-color: #c9cfdf;
}

ul li:hover .drop-down {
  display: block;
}

.footer {
  background-color: #e9edf8;
  border-top: 6px solid #c9cfdf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer>table {
  width: 100%;
  margin: 10px 20px;
}

.footer>table tr td {
  text-align: center;
}