header {
    background-color: #FFF5E4;
    box-shadow: 0px 2px 2px 0px #FFC4C4;
    display: flex;
    justify-content: space-around;
}

.header>div {
    display: flex;
}

.header>div h1 {
    margin-top: 10px;
}

.header-logo {
    width: 60px;
}

.header_nav {
    color: #4C0033;
    padding: 20px 10px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    text-decoration: none;
    
}

nav>ul a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    padding: 5px 10px;
    border-radius: 10px;
}

nav>ul a:hover{
    background-color: rgb(243, 105, 105);
    color: #fff;
}
 

nav>ul ul {
    list-style-type: none;
}


.dropdown-container {
    position: relative;
  }

  .dropdown-icon {
    position: absolute;
    height: 25px;
    top: 9px;
    right: 3px;
    transform: rotate(90deg);
  }

  .dropdown-items-container {
    list-style-type: none;
    position: absolute;
    text-align: left;
    display: none;   
    top: 44px;
    left: 0;
    background-color: #fca8d9;
    overflow: visible;
    color: #fff;
  }

  .dropdown-container:hover .dropdown-items-container {
    display: block;
    padding: 10px;
    min-width: 250px;
    box-shadow: 0px 3px 12px black;
  }
  
  .dropdown-container:hover .dropdown-items-container li {
    padding: 15px 5px;
  }
  
  .dropdown-items-container li:hover {
    background-color: #eaac8b;
    color: #fff;
  }
  
  .dropdown-links {
    color: #fff ;
  }
  
  .dropdown-items-container li:hover .dropdown-links {
    color: #355070 !important;
  }
  
.footer {
    background-color: #FFC4C4;
    border-top: 6px solid rgb(185, 0, 91, 0.4);
    display: flex;
    justify-content: center;
}

.footer>table {
    width: 100%;
    margin: 10px 20px;
}

.footer>table tr td {
    text-align: center;
}