* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr 1fr 140px;
    grid-template-areas:
        "header"
        "main"
        "article"
        "footer";
    gap: 10px;
}

.logo>img {
    grid-area: logo;
    width: 40px;
}

main {
    margin: 10px 60px;
}

/* background-color: #657a97;
   background-color: #c9cfdf;
 background-color: #e9edf8;
  */

.warning {
    padding: 10px;
    border: 1px solid #c9cfdf;
}

.warning_stop {
    background: repeating-linear-gradient(50deg,
            transparent 20px 30px,
            #e9edf8 40px,
            #c9cfdf 0px);
    padding: 10px;
    position: relative;
}

.close-img {
    width: 40px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.warning_info {
    padding: 10px;
}

.main-section {
    margin-top: 10px;
    position: relative;
}

.main-img {
    width: 100%;
    height: 400px;
}

.left-direction {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 50px;
    position: absolute;
    top: 45%;
    left: 0px;
}

.right-direction {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 50px;
    position: absolute;
    top: 45%;
    right: 0px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.buttons :first-child {
    background-color: #e9edf8;
    border: 1px solid #c9cfdf;
    border-radius: 15px 0 0 15px;
}

.buttons :last-child {
    background-color: #e9edf8;
    border: 1px solid #c9cfdf;
    border-radius: 0 15px 15px 0;
}

.buttons :not(first-child, last-child) {
    background-color: #e9edf8;
    border: 1px solid #c9cfdf;
}


.button {
    padding: 20px;
    width: 250px;
    box-shadow: 2px 2px 5px 2px #c9cfdf;
    transition: all 0.4s ease;
}

.button:hover {
    transform: rotate(-4deg);
    background: linear-gradient(0deg,
            #e9edf8,
            #c9cfdf);
    box-shadow: 3px 3px 10px #657a97;
}

.article {
    margin: 10px 60px;
}

.recent {
    display: flex;
    justify-content: center;
    color: #000;
}


.article>section {
    margin-bottom: 50px;

}

.topic1 {
    margin-top: 10px;
}

.post-img1 {
    width: 500px;
    height: 200px;
    margin: 10px 10px 0 0;
    float: left;
    box-shadow: 2px 2px 2px 2px #c9cfdf;
}


.post-img2 {
    width: 500px;
    height: 200px;
    margin: 10px 10px 0 0;
    float: right;
    box-shadow: -2px 2px 2px 2px #c9cfdf;
}