<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="../asset/css/Header&Footer.css" />
  <link rel="stylesheet" href="../asset/css/flexbox.css" />
</head>

<body>
  <div class="header-line"></div>

  <header class="item header">
    <div class="title">
      <img class="header-logo" src="../Images/logo.png" alt="logo">
      <h1>Web Design</h1>
    </div>
    <nav class="header_nav">
      <ul>
        <li class="main-li" id="Home.html"><a href="../Home.html">Home</a></li>
        <li class="main-li" id="Blog.html"><a href="../Blog.html">Blog</a></li>
        <li class="main-li" id="Schedule.html"><a href="../Schedule.html">Schedule</a></li>
        <li class="main-li">
          <a>layout designed</a>
          <ul class="drop-down">
            <li><a href="./Float.html">Float</a></li>
            <li><a href="./Flex.html">Flexbox</a></li>
            <li><a href="./grid.html">Grid</a></li>
          </ul>
        </li>
        <li class="main-li" id="Signup.html"><a href="../Signup.html">Signup</a></li>
        <li class="main-li" id="Signin.html"><a href="../Signin.html">Signin</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="article-content">
      <h2 class="page-heading">Float Sidebar with Blog</h2>
      <article class="article-content">
        <h1>Another Title here in new page.</h1>
        <p class="author">
          By <a href="">kai havertz</a> on Tuesday 12/8/2020, 6:00 PM
        </p>
        <img src="/Images/pic1.jpeg" class="article-image" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </article>
      <article class="article-content">
        <h1>New Title new article.</h1>
        <p class="author">
          By <a href="">mason mount</a> on Tuesday 12/8/2020, 6:00 PM
        </p>
        <img src="/Images/pic1.jpeg" class="article-image" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </article>
      <article class="article-content">
        <h1>New Article in the page again.</h1>
        <p class="author">
          By <a href="">marco marin</a> on Tuesday 12/8/2020, 6:00 PM
        </p>
        <img src="/Images/pic1.jpeg" class="article-image" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </article>
    </div>

    <aside class="sidebar-section">
      <h2>Links</h2>
      <ul>
        <li><a href="Float.html">Floated Sidebar</a></li>
        <li><a href="Flex.html">Flexbox Sidebar</a></li>
        <li><a href="grid.html">Grid System Blog</a></li>
      </ul>
    </aside>

  </main>
  <div class="footer-line"></div>
  <footer class="item footer">
    <table>
      <tr>
        <ul>
          <th>
            <p>Sitemap</p>
          </th>
          <th>
            <p>Terms and Quick Links</p>
          </th>
          <th>
            <p>Address</p>
          </th>
        </ul>
      </tr>

      <tr>
        <td>Home</td>
        <td>Term of Usage</td>
        <td>Erbil Iraq</td>
      </tr>

      <tr>
        <td>About</td>
        <td>Link2</td>
        <td>Web-design@gmail.com</td>
      </tr>

      <tr>
        <td>Contact</td>
        <td>Link3</td>
        <td>07500000000</td>
      </tr>

      <tr>
        <td>Login</td>
        <td>Link4</td>
        <td>Copy right © 2022 WebDesign, all right reseved.</td>
      </tr>

    </table>
  </footer>
</body>

</html>