<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="../asset/css/Header&Footer.css" />
  <link rel="stylesheet" href="../asset/css/grid.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="header-line"></div>
  <header class="item header">
    <div>
      <img class="header-logo" src="./Images/hummingbird-logo-D436A31661-seeklogo.com.png" alt="logo">
      <h1>Web Design</h1>
    </div>
    <nav class="header_nav">
      <ul>
        <li id="Home.html"><a href="Home.html">Home</a></li>
        <li id="Blog.html"><a href="Blog.html">Blog</a></li>
        <li id="Schedule.html"><a href="Schedule.html">Schedule</a></li>
        <li class="navbar-item dropdown-container">
          <label class="navbar-link" href="layout.html">Layout Design</label>
          <img src="./Images/arrow.png" class="dropdown-icon" alt="" />
          <ul class="dropdown-items-container">
            <li>
              <a class="dropdown-links" href="/Layout/Float.html">Float</a>
            </li>
            <li>
              <a class="dropdown-links" href="/Layout/Flex.html">Flexbox</a>
            </li>
            <li>
              <a class="dropdown-links" href="/Layout/grid.html">Grid</a>
            </li>
          </ul>
        </li>
        <li id="\Signin.html"><a href="Signup.html">Signup</a></li>
        <li id="Signin.html"><a href="Signin.html">Signin</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1 class="page-heading">The Grid View Blogs</h1>
    <section class="blogs-container">
      <article class="article-content content-1">
        <h1>First title in the page.</h1>
        <p class="author">
          By <a href="">Kepa</a> on Tuesday 12/8/2020, 6:00 PM
        </p>
        <img src="/Images/pic2.jpeg" class="article-image" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </article>
      <article class="article-content content-2">
        <h1>Istanbul city beautiful view.</h1>
        <p class="author">
          By <a href="">marco marin</a> on Tuesday 12/8/2020, 6:00 PM
        </p>
        <img src="/Images/pic2.jpeg" class="article-image" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </article>
      <article class="article-content content-3">
        <h1>another beautiful view of istanbul city.</h1>
        <p class="author">
          By <a href="">marco marin</a> on Tuesday 12/8/2020, 6:00 PM
        </p>
        <img src="/Images/pic2.jpeg" class="article-image" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </article>
      <article class="article-content content-4">
        <h1>new image of istanbul city beautiful image.</h1>
        <p class="author">
          By <a href="">marco marin</a> on Tuesday 12/8/2020, 6:00 PM
        </p>
        <img src="/Images/pic2.jpeg" class="article-image" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </article>
    </section>
  </main>
  <div class="footer-line"></div>
  <footer class="item footer">
    <table>
      <tr>
        <ul>
          <th>
            <p>Sitemap</p>
          </th>
          <th>
            <p>Terms and Quick Links</p>
          </th>
          <th>
            <p>Address</p>
          </th>
        </ul>
      </tr>

      <tr>
        <td>Home</td>
        <td>Term of Usage</td>
        <td>Erbil Iraq</td>
      </tr>

      <tr>
        <td>About</td>
        <td>Link2</td>
        <td>Web-design@gmail.com</td>
      </tr>

      <tr>
        <td>Contact</td>
        <td>Link3</td>
        <td>07500000000</td>
      </tr>

      <tr>
        <td>Login</td>
        <td>Link4</td>
        <td>Copy right © 2022 WebDesign, all right reseved.</td>
      </tr>
    </table>
  </footer>
</body>

</html>